#!/bin/bash
BOXOPS_REPO_ROOT=$(pwd)
export BOXOPS_REPO_ROOT=$BOXOPS_REPO_ROOT
export BOXOPS_CONFIG_ROOT=$BOXOPS_REPO_ROOT/config/src
PATH_add /usr/local/go/bin
PATH_add "$(go env GOPATH)"/bin
PATH_add ~/.local/bin
PATH_add ~/.cargo/bin