@layer base {
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  html {
    scrollbar-gutter: stable;
  }

  body {
    margin: 0;
    min-block-size: 100dvb;
  }
}

body {
  isolation: isolate;
}
